<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>



</head>
<body>
    <table class="body">
      <tr>
        <td>
          <center>
            <!-- Шапка верх -->
            <container class="header-top">
              <spacer size="15"></spacer>
              <row valign="middle">
                <columns large="6" valign="middle">

                    <p class="small-float-center logo-wrap">
                        <a href="http://venividivici.gg" class="logo" title="venividivici">
                            <img src="img/logo.svg" alt="">
                        </a>
                    </p>

                </columns>
                <columns large="6"  valign="middle">
                  <spacer size="11"></spacer>
                  <p class="slogan text-right small-text-center">RUSSIAN GAMING TEAM CLUB WEBSITE</p>
                </columns>
              </row>
            </container>
            
          <!-- Шапка фон и заголовок -->
          <container>
            <callout class="header" valign="top">
              <img src="img/banner.jpg" alt="">
            </callout>
          </container>

          <!-- Одна страна - одна цена -->
          <container class="section2">
            <spacer size="30"></spacer>
            <row>
              <columns small="12" class="text">
                <h2 class="section2-title text-center">Продавец магазина "Магнит-Косметик"</h2>
                <p class="section2-subtitle text-center">поддержание наличия ассортимента в торговом зале</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error rem suscipit provident iste hic magni corrupti blanditiis molestiae, quod quaerat tempora natus recusandae, inventore iure neque alias? Facilis, eos quae.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis dolore, dolorum ut quisquam atque, debitis reiciendis iure eos accusantium fugit illo asperiores ex esse numquam vero error reprehenderit minima quas.</p>
              </columns>
              </row>

            <spacer size="30"></spacer>
          </container>
       

          <!-- Футер -->
          <container class="footer">
            <spacer size="50"></spacer>
            <row>
              <columns large="6">
                <p class="phone-text small-text-center">RUSSIAN GAMING TEAM CLUB WEBSITE
                </p>

                
              </columns>
              <columns large="6">
                <p class="text-right small-text-center" valign="middle">
                    <a href="mailto:info@venividivici.ru" class="contact-item-link email"><img src="img/email.png" alt=""> <span>info@venividivici.gg</span></a>
                </p>  
                <spacer size="25"></spacer>
                <p class="text-right small-text-center" >
                    <a href="http://venividivici.gg" class="contact-item-link website"><img src="img/website.png" alt=""> <span>www.venividivici.gg</span></a>
                </p>
              </columns>
            </row>

            <spacer size="50"></spacer>
          </container>





          </center>
        </td>
      </tr>
    </table>
    
    
</body>
</html>